<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User information</title>
</head>
<body>
	<main>
		<h3 th:unless="${#request.remoteUser}">
			<i>Chưa đăng nhập</i>
		</h3>
		<th:block th:if="${#request.remoteUser}">
			<h3>User information</h3>
			<ul>
				<li>Username: <b>[[${#request.remoteUser}]]</b></li>
				<li>Is admin: <b>[[${#request.isUserInRole('ROLE_ADMIN')}]]</b></li>
			</ul>
			<ul th:object="${#request.userPrincipal}">
				<li>Username: <b>[[*{name}]]</b></li>
				<li>Role: <b>[[*{authorities}]]</b></li>
			</ul>
		</th:block>
	</main>
</body>
</html>