<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Demo spring security</title>
</head>
<body>
	<nav>
		<a href="/home/index">Home</a>
		<a href="/home/about">About us</a>
		|
		<a href="/home/admin">Admin</a>
		<a href="/home/user">User</a>
		<a href="/home/authenticated">Authenticated</a>
		|
		<a href="/auth/login/form">Login</a>
		<a href="/auth/logout">Logout</a>
		|
		<a href="/auth/authorizing" target="_blank">Authorizing</a>
	</nav>
</body>
</html>